* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: black;
    height: 500vh;
    width: 100%;
}

.parallax {
    position: relative;
    z-index: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-areas: "stack";
}

.parallax > * {
    grid-area: stack;
}

.parallax > img {
    width: 100%;
    animation: parallax linear;
    animation-timeline: scroll();
}

.black-hole {
    --parallax-speed: 10;
    z-index: 1;
}

.asteroid-1 {
    --parallax-speed: 2;
    z-index: 3;
    transform: scale(0.1);
    position: absolute;
    top: 150px;
    left: 550px;
}

.asteroid-2 {
    --parallax-speed: -2;
    z-index: 3;
    transform: scale(0.1);
    position: absolute;
    top: -200px;
    left: -920px;
}

.asteroid-3 {
    --parallax-speed: 7;
    z-index: 3;
    transform: scale(0.1);
    position: absolute;
    top: -830px;
    left: -630px;
}

.astronaut {
    --parallax-speed: 2;
    z-index: 4;
    transform: scale(0.4);
    position: absolute;
    top: -280px;
    left: -230px;
}

.foreground-front,
.foreground-back {
    --parallax-speed: 5;
    z-index: 5;
    align-self: end;
}

.foreground-back {
    transform: scaleY(1.2);
    transform-origin: bottom;
    mix-blend-mode: hard-light;
}

@keyframes parallax {
    to {
        transform: translateY(calc(var(--parallax-speed) * 1px));
    }
}